.video-background video {
  position: absolute; /* or absolute, depending on desired scope */
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: -1; /* Puts the video behind other content*/
  object-fit: cover; /* Ensures the video covers the entire area without distortion*/
}
nav {
  height: min-content;
}
.headcontainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  object-fit: cover;
  height: min-content;
  justify-content: center;
  align-content: center;
  margin: 0%;
  column-gap: 60px;
}

.logo {
  width: 350px;
  height: 0.41;
  margin: 0px 50px 80px 50px;
}
.coline {
  border-right: 1px solid rgb(244, 239, 239);
  height: 80px;
}


.line {
  border-right: 1px solid rgb(244, 239, 239);
  height: 80px;
  cursor: pointer;
  /* smooth animation */
  transition: all 0.3s ease;
}
.line .plus {
  transition: transform 0.3s ease;
}
.line:hover {
  transform: scale(1.2);
}

button {
  background-color: none;
}
.col {
  display: flex;
  flex-direction: x;
  height: 700px;
  width: 100%;
}
.box {
  width: min-content;
  margin: 20px 20px 5px 20px;
  font-size: small;
  width: max-content;
  cursor: pointer;
}
body {
  margin: 0%;
  background-color: rgb(248, 240, 240);
  /* background-clip: url(WhatsApp\ Video\ 2025-12-09\ at\ 23.42.45_8ac5b012.mp4);
    background-clip: ; */
}
.eq {
  width: 100%;
}
span {
  color: white;
}
a {
  color: white;
  text-decoration: none;
  font: 13px;
  font-family: 'Courier New', Courier, monospace;
}
.LOGO {
  position: absolute;
  width: 90%;
  top: 500px;
  left: 8%;
  mix-blend-mode: difference;
  filter: invert(100%);
  display: flex;
  flex-direction: column;
  margin: 0px 100px 0px 0px;
  background-color: rgb(255, 255, 255);
}
/* transition: all 0.3 cubic-bezier(0.42, 0.06, 0.25, 1);
  -webkit-font-smoothing: antialiased;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  animation:forwards; */

/* }
fadein animation {
    opacity: 1;
    transform: translateY(0px);
}
.LOGO  {
  opacity: 0;
  animation: fadein 2s;
  animation-fill-mode: forwards;
  animation-delay: 0.1s;
  animation-iteration-count: 1;
} */
.box .plus {
  transition: transform 0.3s ease;
}
.slashes {
  position: absolute;
  width: 400px;
  top: 450px;
  right: 25%;
  text-align: center;
  color: white;
  font-size: small;
}
.slashesL {
  right: 0cqmax;
}
.box2 {
  width: max-content;
}
* {
  width: 100%;
  margin-top: 0%;
}
.sub {
  display: flex;
  flex-direction: y;
  justify-content: center;
  margin-top: 0px;
  width: fit-content;
}
.smallfont {
  font-size: small;
  border: 1px solid black;
  width: max-content;
  height: max-content;
}
.section1 {
  width: 100%;
  height: 1500px;
  background-color: rgb(255, 255, 255);
}
.a1 {
  display: flex;
  flex-direction: row;
  width: min-content;
  width: 700px;
  height: 100px;
  justify-content: left;
  gap: 20px;
}
.head2 {
  display: flex;
  flex: x;
  height: 530px;
  width: 1200px;
  justify-content: right;
  margin-right: 200px;
  margin-left: 200px;
  gap: 20px;
  border-bottom: 1px black solid;
}
.subsection1 {
  
  justify-content: right;
}
.ph1 {
  font-size: 50px;
  padding: 10px;
}
.phh {
  font-size: 90px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.slashes2 {
  width: 500px;
}
.mark {
  width: 650px;
  height: 300px;
  justify-self: left;
  margin-left: 150px;
  position: relative;
}
.forhover {
  align-content: center;
  justify-content: center;
  height: 130px;
  width: 250px;
  border-radius: 70px;
  border: 2px solid black;
  padding-left: 10%;
}
.cta-btn {
  width: 200px;
  height: 65px;
  
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: stretch;
  padding: 30px;
  color: rgb(0, 0, 0);
  border: 1px black solid;

  font-size: 20px;
  cursor: pointer;

  /* smooth animation */
  transition: all 0.3s ease;
}
.inbox {
  color: black;
}

/*  HOVER EFFECT */
.cta-btn:hover {
  background: #9f6ed6; /* darker purple */
  transform: scale(1.05); /* zoom effect */
  box-shadow: 0 10px 30px rgba(181, 139, 230, 0.5);
  color: aliceblue;
  filter: drop-shadow(100%);
}
.box {
  padding: 2px;
  cursor: pointer;
  /* smooth animation */
  transition: all 0.3s ease;
}
.box .plus {
  transition: transform 0.3s ease;
}
.box:hover {
  transform: scale(1.5);
  background-color: rgba(0, 0, 0, 0.685);
  border-radius: 5px;
}
.headfacts {
  display: flex;
  flex-direction: x;
  padding: 20px;
  margin: 10px;
  width: 78%;
  height: 300px;
  border-bottom: 1px black solid;
  margin-left: 170px;
  padding-top: none;
  margin-top: 0%;
}
.fatcs {
  padding: 50px;
  display: flex;
  flex-direction: column;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  width: 200px;
  margin: 3px;
}
.ap {
  border-bottom: 1px solid black;
  width: min-content;
}
.bb {
  font-size: 50px;
}
.f1 {
  padding: 20px;
}
.factdeails {
  font-size: 50px;
  width: 200px;
}
.greendot {
  height:min-content;
  width: min-content;
  margin-bottom: 0%;
  margin-top: 0%;
  
}
.fade-in-y {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInY 2s cubic-bezier(0.42, 0.06, 0.25, 1) forwards;
}

@keyframes fadeInY {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
  .headcontainer {
    grid-template-rows: repeat(7, 40px);
    grid-template-columns: min-content;
    grid-area: auto;
    margin-left: 0%;
  }
  a {
    font-size: 10px;
  }
  .line {
    width: 175px;
    border-right: none;
  }
  .section1 {
    width: 425px;
    height: min-content;
  }
  .sub {
    width: 100%;
    height: max-content;
  }
  .head2 {
    width: 50%;
    height: max-content;
    padding-bottom: 20px;
  }
  .menu1 {
    height: min-content;
  }
  .col {
    height: 500px;
  }
  .ph1 {
    font-size: 20px;
  }
  .phh {
    font-size: 40px;
    width: 450px;
  }
  .slashes2 {
    width: 200px;
  }
  .headfacts {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 45%;
  }
  .fatcs {
    padding: 10px;
    display: flex;
    flex-direction: row;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 10px;
    width: 200px;
    margin: 3px;
  }
  .bb {
    font-size: 20px;
  }
  .f1 {
    padding: 10px;
  }
  .factdeails {
    font-size: 10px;
    width: 200px;
  }
  .greendot {
    width: 450px;
  }
}
.stats-section {
  display: flex;
  align-items: center;
  gap: 60px;
  justify-content: center;
  border-bottom: 1px solid #000;
  margin-left: 170px;
  margin-right: 90px;
  width: 1220px;
  padding-bottom: 50px;
}
.circle-box {
  flex-shrink: 0;
  width: min-content;
  
}

.circle {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  border: 3px solid #b46cff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 64px;
  font-weight: bold;
  color: #222;
  position: relative;
  
}

/* .circle::after {
  content: "";
  position: absolute;
  inset: 10px;
  border-radius: 50%;
  border: 2px dashed #555;
} */

/* Text */
.content h1 {
  font-size: 42px;
  font-weight: 500;
  margin-bottom: 16px;
}

.content h2 {
  font-size: 22px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.content p {
  font-size: 16px;
  margin-bottom: 30px;
}

/* Animals row */
.animals {
  font-size: 32px;
  letter-spacing: 12px;
}
